.App {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 740px;
    width: 100%;
    /* border: solid black 2px; */
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
